.formWrapper {
	margin-top: 1.5rem;
}

.wrapperTasks {
	padding: 10px;
}

.tasks {
	padding: 0 5px;
	font-size: 20px;
	font-weight: bold;
}

.addTask {
	margin-right: 10px;
}

.flexForTasks {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/*MEDIA*/

@media (max-width: 675px) {
	.tasks {
		padding: 0 5px;
		font-size: 15px;
		font-weight: bold;
		border-bottom: 1px solid;
	}
	.flexForTasks {
		display: flex;
		flex-direction: column;
	}
	.formWrapper {
		margin-top: 0.5rem;
	}
}

@media (max-width: 510px) {
	.wrapperTasks p {
		font-size: 17px;
	}
	.formWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.button {
		text-align: center;
		width: 100%;
	}
	.addTask {
		margin-right: 0;
		margin-bottom: 5px;
	}
}

@media (max-width: 440px) {
	.wrapperTasks p {
		font-size: 14px;
	}
}

@media (max-width: 400px) {
	.formWrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.formWrapper input {
		margin-bottom: 5px;
		width: 100%;
	}

	.button {
		width: 100%;
	}

	.numberOfAssigments {
		font-size: 30px;
	}
}

@media (max-width: 380px) {
	.numberOfAssigments {
		font-size: 25px;
	}

	.wrapperTasks p {
		font-size: 12px;
	}

	.buttonStyle {
		width: 70%;
		background: black;
		color: white;
	}

	.formWrapper input {
		width: 100%;
	}
}
