.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.formWrapper input,
button {
    padding: 10px;
    background: transparent;
    border: 2px solid;
    font-size: 20px;
    margin-right: 2px;
    outline: none;
    border-radius: 10px;
}

.formWrapper button {
    cursor: pointer;
    transition: .4s ease;
}

.formWrapper button:hover {
    background: black;
    color: white;
    transition: .4s ease;
}

::placeholder {
    color: black;
}

@media (max-width: 400px) {
    .formWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .formWrapper input {
        margin-bottom: 5px;
        width: 100%;
    }

    .formWrapper button {
        width: 50%;
    }

    .numberOfAssigments {
        font-size: 30px;
    }
}



@media (max-width: 380px) {
    .numberOfAssigments {
        font-size: 25px;
    }

    .formWrapper input {
        width: 100%;
    }
}