.complete {
	text-decoration: line-through;
}

.text,
.complete {
	font-size: 20px;
	color: black;
	cursor: pointer;
}

.wrapperTodo {
	width: 33%;
}

.button {
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	background: transparent;
	border: none;
}

.deleteIcon {
	display: flex;
	width: 30px;
	height: 30px;
	text-align: center;
}

.time {
	font-size: 12px;
	font-style: oblique;
	margin: 0px;
	float: left;
}

.buttons {
	margin-top: 1rem;
	display: flex;
	width: 20%;
}

.task {
	display: flex;
	justify-content: space-between;
	text-align: start;
	align-items: center;
}

.textWidth {
	width: 80%;
}

.inputTask {
	margin-right: 0.3rem;
	margin-top: 0.3rem;
	cursor: pointer;
}

@media (max-width: 1550px) {
	.wrapperTodo {
		width: 45%;
		margin: auto;
	}
}
@media (max-width: 1000px) {
	.wrapperTodo {
		width: 100%;
		margin: auto;
	}
}
@media (max-width: 601px) {
	.deleteIcon {
		display: flex;
		width: 25px;
		height: 25px;
		text-align: center;
	}
}
@media (max-width: 553px) {
	.deleteIcon {
		display: flex;
		width: 20px;
		height: 20px;
		text-align: center;
	}
}
@media (max-width: 320px) {
	.task {
		max-width: 210px;
	}
	.text {
		width: 200px;
	}
}

@media (max-width: 393px) {
	.wrapperTodo {
		max-width: 350px;
	}
	.task {
		max-width: 250px;
	}
}
