.complete {
    text-decoration: line-through;
    font-size: 20px;
    margin: 5px;
    color: black;
    font-weight: bold;
}

.text {
    font-size: 20px;
    margin: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.wrapperTodo {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    border-bottom: 1px solid;
    padding: 20px;
}

.button {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    border: none;
}

.deleteIcon {
    display: flex;
    width: 30px;
    height: 30px;
    text-align: center;
}

.time {
    font-size: 12px;
    font-style: oblique;
    margin: 0px;
    float: left;
}

.task {
    display: flex;
    text-align: start;
    align-items: center;
    margin-bottom: .3rem;
    max-width: 330px;
}

.inputTask {
    margin-right: .3rem;
    margin-top: .3rem;
    cursor: pointer;
}

@media (max-width: 393px) {
    .wrapperTodo {
        max-width: 350px;
    }


    .task {
        width: 250px;
    }

    .flexButtons {
        display: flex;
        flex-direction: column;
    }
}